

/*#imageGallery{

   background-color: rgb(146, 141, 151);  


} 
*/


#imageGallery img {
    display: block;
    width: 50%; /* Adjust the width as needed */
    height: auto;
    object-fit: cover;

    margin: 10px auto; /* Center the images and add some space between them */
}

textarea{
    width: 200px;
    resize: none;
}

#Comment{
    width: 500px;
    height: 200px;
    border-radius: 15px;
}

body {
    height: 500vh;
}  


.blockIcono{
    background-color: rgb(238, 161, 110);
    font-size: larger;
    padding: 5px 20px;
    border-radius: 15px;
    
}

.blockIcono:hover{
    background-color: rgb(238, 161, 110);
    font-size: larger;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
}
#submitCommentButton{
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
    width: 100px;
}

#commentForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 700px) {
    #imageGallery img {
        width: 100%; /* Adjust the width as needed */
        height: max-content;
    }

    iframe{
        height: 700px;
        width: 100%;

    }
    
}